.table_giao {
  width: 83%;
  height: 100vh;
  background-color: #e9ecef;
  float: right;
  padding: 20px 30px;
  margin-top: 60px;
}

.title_giao {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.doing {
  border-radius: 20px;
  box-shadow: #7e8eb1 0px 1px 2px 0px;
  background-color: white;
  overflow: hidden;
  padding: 10px;
}
