* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  background-color: #f94f30;
  color: #ffffff;
}

@font-face {
  font-family: myFont;
  src: url(https://www.myfonts.com/fonts/linotype/neue-helvetica/);
}
/* ipad mini */
@media screen and (max-width: 768px) {
}
/* iphone 12 pro */
@media screen and (min-width: 390px) {
}
