* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  background-color: #f94f30;
  color: #ffffff;
}

/* LOGIN */
.login_ {
  background-color: rgb(238, 77, 45);
}
.login_header {
  width: 100%;
  height: 84px;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
}
.login_header_img {
  height: 60px;
  position: absolute;
  top: 10px;
  left: 100px;
}
.login_header_text {
  position: absolute;
  top: 31px;
  left: 300px;
  font-size: 1.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 520;
}
.login_header_help {
  position: absolute;
  top: 33px;
  right: 100px;
  text-decoration: none;
  color: #ee4d2d;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}
.login_conter {
  width: 75%;
  margin: 0 auto;
  height: 600px;
  background-image: url(https://cf.shopee.vn/file/5569eb9dc7e09e2dbed5315b8f2ea8ba);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* ----------------------->>>>>  LOGIN-MODAL   <<<<<<------------------- */
.login_conter_modal {
  min-height: 30rem;
  width: 24.8125rem;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
  position: absolute;
  top: 60px;
  right: 0;
  border-radius: 5px;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}
.login_conter_modal_QR {
  position: absolute;
  top: 15px;
  left: 153px;
  border: 2px solid #ffbf00;
  padding: 11px 14px;
  width: 120px;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
  color: #ffbf00;
  font-weight: 600;
  font-size: 14px;
  background-color: #fefaec;
}
.login_conter_modal_QR ::after {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg) translate(-50%);
  position: absolute;
  top: 26px;
  right: -12px;
  border-top: 2px solid #ffbf00;
  border-right: 2px solid #ffbf00;
  box-sizing: border-box;
  background-color: #fefaec;
}
.login_conter_modal_img_QR {
  position: absolute;
  top: 19px;
  right: 33px;
}
.login_conter_modal_img_QR img {
  width: 50px;
  cursor: pointer;
}
.login_conter_modal_headline {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
}
.login_conter_modal_email {
  position: absolute;
  bottom: 350px;
  width: 77%;
  padding: 10px;
  left: 35px;
}
.login_email_text {
  position: absolute;
  bottom: 325px;
  left: 35px;
  color: #ee4d2d;
}
.login_conter_modal_password {
  position: absolute;
  bottom: 280px;
  width: 77%;
  padding: 10px;
  left: 35px;
}
.login_password_text {
  position: absolute;
  bottom: 258px;
  left: 35px;
  color: #ee4d2d;
}
.login_conter_modal_button {
  position: absolute;
  bottom: 210px;
  left: 35px;
  width: 83%;
  padding: 12px;
  background-color: #ee4d2d;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  opacity: 0.7;
}
.login_conter_modal_a {
  position: absolute;
  bottom: 180px;
  left: 38px;
  font-size: 12px;
}
.login_conter_modal_a a {
  text-decoration: none;
  color: #05a;
}
.login_conter_modal_a2 {
  margin: 0 0 0 135px;
}
.login_or {
  position: absolute;
  bottom: 140px;
  left: 175px;
  opacity: 0.6;
  font-size: 15px;
}
.login_conter_modal_buttonGrup {
  position: absolute;
  bottom: 80px;
  left: 30px;
}
.login_conter_modal_buttonGrup img {
  width: 22px;
  margin: 0 3px;
  position: relative;
  top: 5px;
}
.login_conter_modal_buttonGrup button {
  border: 1px solid rgb(242, 233, 233);
  background-color: transparent;
  font-size: 12px;
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
  margin: 0 6px;
  line-height: 25px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
}
.login_conter_modal_footer {
  position: absolute;
  bottom: 30px;
  left: 65px;
}
.login_conter_modal_footer span,
.singin_modal_footer span {
  opacity: 0.5;
}
.login_conter_modal_footer button,
.singin_modal_footer button {
  border: none;
  background-color: transparent;
  color: #ee4d2d;
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.login_ofcanva_modal {
  padding: 10px;
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 3px;
  position: fixed;
  top: 10px;
  left: 30%;
  border: 1px solid rgb(230, 219, 219);
}
.login_singin {
  padding: 10px 0;
  border-top: 1px solid rgb(230, 219, 219);
}
.ofcanva_modal_close_singin {
  position: absolute;
  right: 10px;
  top: 30%;
  padding: 8px 16px;
  border: none;
  background-color: #ee4d2d;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}
.ofcanva_modal_singin {
  position: absolute;
  bottom: 40%px;
  right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #05a;
  font-size: 16px;
  color: #f7f7f7;
  border-radius: 3px;
}
/* SINGIN */
.singin_ {
  height: 800px;
  background-color: rgb(238, 77, 45);
}
.singIn_ofcanva_modal {
  width: 400px;
  height: 200px;
  background-color: white;
  border: 1px solid rgb(230, 219, 219);
  border-radius: 3px;
  position: fixed;
  top: 10px;
  left: 35%;
  padding: 10px;
}
.singIn_ofcanva_modal p {
  font-size: 18px;
}
.ofcanva_modal_login {
  position: absolute;
  bottom: 20px;
  right: 100px;
  padding: 8px 16px;
  border: none;
  background-color: #05a;
  font-size: 16px;
  color: #f7f7f7;
  border-radius: 3px;
}
.ofcanva_modal_close {
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #ee4d2d;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

/* --------------->>>  SING IN MODAL  <<<<----------- */
.singin_conter_modal {
  min-height: 527px;
  width: 24.8125rem;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
  position: absolute;
  top: 60px;
  right: 0;
  border-radius: 5px;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}
.singin_conter_modal_email {
  position: absolute;
  top: 70px;
  left: 35px;
  padding: 10px 8px;
  width: 300px;
}
.singin_mail_text {
  position: absolute;
  top: 113px;
  left: 35px;
  color: #ee4d2d;
  font-size: 13px;
}
.singin_conter_modal_password {
  position: absolute;
  top: 130px;
  left: 35px;
  padding: 10px 8px;
  width: 300px;
}
.singin_password_text {
  position: absolute;
  top: 175px;
  left: 35px;
  color: #ee4d2d;
  font-size: 13px;
}
.singin_conter_modal_againpassword {
  position: absolute;
  top: 190px;
  left: 35px;
  padding: 10px 8px;
  width: 300px;
}
.singin_again_text {
  position: absolute;
  top: 235px;
  left: 35px;
  color: #ee4d2d;
  font-size: 13px;
}
.singin_conter_modal_next {
  position: absolute;
  bottom: 230px;
  width: 320px;
  left: 35px;
  padding: 10px 8px;
  font-size: 16px;
  border: none;
  background-color: #ee4d2d;
  color: #ffffff;
  border-radius: 3px;
}
.singin_conter_modal_buttonGrup {
  position: absolute;
  bottom: 130px;
  left: 30px;
}
.singin_conter_modal_buttonGrup button {
  padding: 5px 8px;
  width: 150px;
  margin: 0 8px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid rgb(236, 220, 220);
  border-radius: 3px;
  line-height: 25px;
  cursor: pointer;
}
.singin_conter_modal_or {
  position: absolute;
  bottom: 190px;
  left: 173px;
  opacity: 0.7;
}
.singin_conter_modal_buttonGrup img {
  width: 22px;
  margin: 0 3px;
  position: relative;
  top: 5px;
}
.singin_conter_modal_text {
  position: absolute;
  bottom: 60px;
  left: 62px;
}
.singin_conter_modal_text a {
  text-decoration: none;
  color: #ee4d2d;
  margin: 0 3px;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}
.singin_conter_modal p {
  position: absolute;
  bottom: 70px;
  left: 45px;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}
.singin_modal_footer {
  position: absolute;
  bottom: 20px;
  left: 70px;
}

/* --------------->>>>>>>  USER PAGE <<<<<<------------------ */
.userPage_ {
  display: flex;
  background-color: #f5f5f5;
  height: 60vw;
}
.userPage_page {
  width: 25%;
}
.userPage_conter {
  /* background-color: #ffffff; */
  margin-top: 20px;
  width: 65%;
  padding: 20px;
}
.userPage_button button {
  display: none;
}
.comment,
.mypage,
.order,
.promotion,
.voucher {
  display: none;
}

.danhgia,
.hoatdong,
.khuyenmai,
.vi {
  display: none;
}
.hoso,
.bank,
.from,
.resetpassword {
  display: none;
}
/* ------------>>>>>>>> MENU <<<<<<----------- */
.menu_ {
  width: 200px;
  margin: 40px auto;
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
}
.menu_ img {
  width: 22px;
  height: 22px;
  font-size: 16px;
}
.menu_ button {
  border: none;
  background-color: transparent;
  font-size: 15px;
}
.menu_ button:hover {
  color: #ee4d2d;
}
.menu_header {
  position: relative;
  padding: 5px;
  margin-bottom: 40px;
}
.menu_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.menu_header span {
  position: absolute;
  top: 5px;
  left: 40%;
  font-weight: bolder;
}
.menu_header button {
  opacity: 0.6;
  position: absolute;
  left: 37%;
  bottom: 13px;
  cursor: pointer;
}
.menu_promotion {
  position: relative;
  margin: 0 0 20px;
  display: flex;
}

.menu_promotion button {
  position: absolute;
  top: 0;
  left: 26px;
}
.menu_comment button,
.menu_orders button,
.menu_mypage button,
.menu_voucher button {
  position: absolute;
  top: 2px;
  left: 39px;
}
.menu_voucher {
  position: relative;
  margin: 0 0 15px;
}

.menu_mypage {
  position: relative;
  margin: 0 0 15px;
}
.menu_mypage_list {
  text-align: left;
  margin-left: 45px;
  display: none;
  cursor: pointer;
}
.menu_orders {
  position: relative;
  margin: 0 0 15px;
}
.menu_comment {
  position: relative;
  margin: 0 0 15px;
}
.menu_comment_list {
  text-align: left;
  margin-left: 45px;
  display: none;
  cursor: pointer;
}
.menu_comment_list p:hover,
.menu_mypage_list p:hover {
  color: #ee4d2d;
}
/* ----------->>>>>>>>>>> MY PAGE  <<<<<<<<------------ */
/* HEADER */

.mypage_ {
  height: 700px;
  background-color: #ffffff;
  padding: 10px;
}
.mypage_header {
  margin-bottom: 40px;
}

.mypage_header span {
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 550;
}
.mypage_header p {
  margin: 5px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(215, 203, 203);
}
/* CONTER */
.mypage_conter {
  display: flex;
}
.mypage_conter_user {
  width: 70%;
  display: flex;
}
/* LEGHT */
.mypage_conter_user_leght {
  width: 20%;
  margin-right: 15px;
  position: relative;
  opacity: 0.7;
}
.mypage_leght_user {
  position: absolute;
  top: 10px;
  right: 5px;
}
.mypage_leght_name {
  position: absolute;
  top: 96px;
  right: 5px;
}
.mypage_leght_email {
  position: absolute;
  top: 150px;
  right: 5px;
}
.mypage_leght_phone {
  position: absolute;
  top: 190px;
  right: 5px;
}
.mypage_leght_shopname {
  position: absolute;
  top: 250px;
  right: 5px;
}
.mypage_leght_check {
  position: absolute;
  top: 300px;
  right: 5px;
}
.mypage_leght_date {
  position: absolute;
  top: 370px;
  right: 5px;
}

/* RIGHT */
.mypage_conter_user_right {
  width: 80%;
  position: relative;
}
.mypage_right_user,
.mypage_right_name {
  width: 400px;
  padding: 10px;
}
.mypage_right_text {
  margin: 0 0 25px;
  opacity: 0.7;
}
.mypage_right_email1 {
  position: absolute;
  top: 150px;
}
.mypage_right_email1 a,
.mypage_right_phone1 a {
  margin: 0 0 0 10px;
  color: #05a;
}
.mypage_right_phone1 {
  position: absolute;
  top: 190px;
}
.mypage_right_shopname {
  position: absolute;
  top: 240px;
  left: 0;
  width: 400px;
  padding: 10px;
}
.mypage_right_check {
  position: absolute;
  top: 300px;
}
.mypage_right_date {
  position: absolute;
  top: 350px;
  left: -10px;
  display: flex;
}
.mypage_right_date input {
  width: 93px;
  padding: 10px 16px;
  margin: 10px;
}
.mypage_right_update {
  position: absolute;
  top: 440px;
  left: 0;
  padding: 10px 30px;
  border: none;
  background-color: #ee4d2d;
  color: #ffffff;
  border-radius: 3px;
}
/* IMAGER */
.mypage_conter_imager {
  width: 30%;
  border-left: 1px solid rgb(238, 230, 230);
  position: relative;
  height: 200px;
}
.mypage_conter_imager img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 26%;
}
.mypage_conter_imager button {
  position: absolute;
  top: 110px;
  left: 29%;
  border: 1px solid rgb(213, 204, 204);
  padding: 8px 15px;
  background-color: transparent;
}
.mypage_conter_imager span {
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0.6;
}
.mypage_conter_imager p {
  position: absolute;
  bottom: 5px;
  left: 20%;
  opacity: 0.6;
}

/* -------------->>>>>>>>>>  ORDER <<<<<<<< --------------------- */
/* HEADER */
.order_header {
  width: 100%;
  background-color: #fff;
  height: fit-content;
  padding: 0 8px;
  margin-bottom: 10px;
}
.order_header button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 16.5%;
  padding: 15px 0;
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
}
.order_header button:hover {
  color: #ee4d2d;
}
.order_header button:focus {
  border-bottom: 2px solid #ee4d2d;
}
/* SEACH */
.order_seach {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #eaeaea;
  padding: 0 8px;
  line-height: 50px;
  opacity: 0.7;
}
.order_seach input {
  border: none;
  width: 90%;
  height: 90%;
  background-color: transparent;
  font-size: 16px;
  margin-left: 8px;
  color: #eaeaea;
}
.order_seach input:focus {
  border-color: #eaeaea;
}
/* CONTER */
.order_conter {
  width: 100%;
  padding: 0 8px;
  margin-top: 20px;
  min-height: 500px;
  background-color: #ffffff;
}
.order_conter_null {
  position: relative;
  top: 100px;
  left: 40%;
}
.order_conter_null p {
  margin-left: 40px;
  font-size: 18px;
}
/* ONOF */
.orderCheck,
.orderDaGiao,
.orderWaiting,
.orderDangGiao,
.orderDaHuy {
  display: none;
}

/* ------------->>>>>>>>>>>>>>> COMMENT <<<<<------------- */
/* CAPNHAT */
.capnhat_ {
  width: 100%;
  min-height: 500px;
  background-color: #ffffff;
  position: relative;
}
.capnhat_ img {
  width: 150px;
  position: absolute;
  top: 30%;
  left: 40%;
}
.capnhat_ span {
  position: absolute;
  top: 60%;
  left: 38%;
}
/* KHUYENMAI */
.khuyenmai_header {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  position: relative;
}
.khuyenmai_header button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 30%;
  font-size: 16px;
  cursor: pointer;
}
.khuyenmai_conter {
  width: 100%;
  min-height: 600px;
  background-color: #fff2ee;
  padding: 15px;
  box-sizing: border-box;
}
.khuyenmai_conter img {
  width: 100px;
}
.khuyenmai_conter_div {
  width: 100%;
  height: 100px;
  position: relative;
}
.khuyenmai_conter_div:hover {
  background-color: #eaeaea;
}
.khuyenmai_conter_div p {
  position: absolute;
  top: 0px;
  left: 120px;
  margin: 0;
  font-size: 18px;
}
.khuyenmai_conter_div span {
  position: absolute;
  top: 30px;
  left: 120px;
  font-size: 15px;
}
.khuyenmai_conter_div div {
  position: absolute;
  top: 60px;
  left: 120px;
  font-size: 15px;
}
.khuyenmai_conter_div button {
  position: absolute;
  right: 10px;
  top: 20%;
  border: 1px solid rgb(198, 188, 188);
  background-color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
}
/* VI */
.vi_,
.hoatdong_ {
  width: 100%;
  min-height: 500px;
  background-color: #ffffff;
  position: relative;
}
.vi_ img {
  width: 150px;
  position: absolute;
  top: 30%;
  left: 40%;
}
.vi_ span {
  position: absolute;
  top: 60%;
  left: 40%;
}
/* HOAT DONG */
.hoatdong_ {
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
  background-color: #ffffff;
}
.hoatdong_header {
  height: 50px;
  border-bottom: 1px solid rgb(229, 223, 223);
  position: relative;
}
.hoatdong_header span {
  position: absolute;
  right: 10px;
  top: 30%;
  opacity: 0.6;
}
.hoatdong_header div {
  position: absolute;
  top: 30%;
  left: 10px;
}
.hoatdong_conter img {
  width: 150px;
  position: absolute;
  top: 30%;
  left: 40%;
}
.hoatdong_conter span {
  width: 150px;
  position: absolute;
  top: 60%;
  left: 41%;
}

/* ------------------>>>>> MY PAGE <<<<<------------- */
/* BANK */
.bank_,
.from_ {
  width: 100%;
  box-sizing: border-box;
  min-height: 600px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.cart_text,
.taiKhoan_text,
.from_header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(235, 227, 227);
  position: relative;
}
.taiKhoan_text span,
.cart_text span,
.from_header span {
  font-size: 20px;
  position: absolute;
  top: 25%;
}
.from_header button,
.taiKhoan_text button,
.cart_text button {
  position: absolute;
  right: 10px;
  top: 20%;
  border: none;
  background-color: #ee4d2d;
  color: #fefaec;
  border-radius: 3px;
  padding: 12px 18px;
}
.from_conter,
.cart_conter,
.taiKhoan_conter {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
}
/* RESET PASSWORD*/
.resetPassword_ {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.resetPassword_header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgb(232, 223, 223);
}
.resetPassword_header span {
  font-size: 20px;
}
.resetPassword_conter {
  display: flex;
}
.resetPassword_left {
  width: 300px;
  text-align: right;
  position: relative;
  padding: 0 20px 0 0;
}
.resetPassword_right {
  width: 65%;
  position: relative;
  height: 100%;
}
.password_last,
.password_last_text {
  position: absolute;
  top: 30px;
  left: 0;
  width: 300px;
  height: 30px;
  padding: 5px;
}
.password_new,
.password_new_text {
  position: absolute;
  top: 115px;
  left: 0;
  width: 300px;
  height: 30px;
  padding: 5px;
}
.password_newagain,
.password_newagain_text {
  position: absolute;
  top: 200px;
  width: 300px;
  height: 30px;
  left: 0;
  padding: 5px;
}
.password_update {
  position: absolute;
  top: 300px;
  left: 0;
  padding: 12px 16px;
  border: none;
  background-color: #ee4d2d;
  color: #fefaec;
  border-radius: 3px;
  font-family: Helvetica, Helvetica, Arial, Helvetica, sans-serif;
}

/* ----------------->>>>>>>>>>> VOUCHER <<<<------------ */
.voucher_ {
  width: 100%;
  min-height: 750px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
}
/* VOUCHER HEADER */
.voucher_header_text {
  font-size: 25px;
  position: absolute;
  top: 30px;
  left: 58px;
}
.voucher_header_button {
  position: absolute;
  right: 55px;
  top: 35px;
}
.voucher_button1 {
  border: none;
  background-color: transparent;
  border-right: 1px solid rgb(143, 135, 135);
  color: #ee4d2d;
  font-size: 16px;
  cursor: pointer;
}
.voucher_button2 {
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: #ee4d2d;
  background-color: transparent;
  border-right: 1px solid rgb(143, 135, 135);
}
.voucher_button3 {
  cursor: pointer;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  font-size: 16px;
}
.voucher_header_seach {
  position: absolute;
  top: 90px;
  left: 30px;
}
.voucher_header_seach {
  width: 90%;
  height: 100px;
  background-color: #f7f7f7;
  position: relative;
  left: 5%;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
}
.voucher_header_seach input {
  width: 350px;
  margin: 0 10px;
  padding: 10px;
}
.voucher_header_seach button {
  border: none;
  padding: 13px 35px;
  color: rgb(118, 115, 115);
  border-radius: 2px;
}

.voucher_conter {
  position: relative;
}
.voucher_conter_button_grup {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 90%;
  border-bottom: 1px solid rgb(164, 157, 157);
}
.voucher_conter_button_grup button {
  border: none;
  background-color: transparent;
  width: 20%;
  font-size: 17px;
  opacity: 0.8;
  padding: 10px 0;
}
.voucher_conter_button_grup button:focus {
  border-bottom: 2px solid #ee4d2d;
}
.voucher_comment {
  width: 90%;
  position: absolute;
  top: 200px;
  left: 50px;
}
/* ALL VOUCHER */

.allvoucher_ {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  padding: 10px;
}
.allvoucher_conter_div {
  position: relative;
  width: 100%;
}
.allvoucher_conter_div:hover {
  background-color: #f7f7f7;
}
.allvoucher_conter_div img {
  width: 100px;
}
.allvoucher_conter_div p {
  position: absolute;
  top: 0;
  left: 150px;
  margin: 0;
  width: 400px;
}
.allvoucher_conter_div span {
  position: absolute;
  top: 30px;
  width: 500px;
  left: 150px;
}
.allvoucher_conter_div div {
  position: absolute;
  top: 70px;
  width: 300px;
  left: 150px;
}

.allvoucher_conter_div button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #ee4d2d;
  color: #fff;
  padding: 12px 16px;
  border-radius: 3px;
}

/* DICH VU */
.dichvu_ {
  width: 100%;
  position: relative;
  text-align: center;
  min-height: 300px;
}
.dichvu_ img {
  width: 150px;
}
.dichvu_ p {
  margin: 0;
}
.dichvu_ button {
  border: none;
  background-color: #ee4d2d;
  color: #f7f7f7;
  padding: 12px 18px;
  border-radius: 4px;
  margin-top: 10px;
}
/* SHOPEE */
.shopee_modal {
  width: 500px;
  height: 120px;
  border-radius: 3px;
  border: 1px solid rgb(222, 216, 216);
  border-left: 5px solid #fff;
  display: flex;
}
.shopee_modal_imager {
  background-color: #00bfa5;
  border-left: 10px dotted #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: content-box;
  width: 30%;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table, tr, td,th {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
margin: auto
}
.gioHang {
  margin-top: 50px;
}
.wrap-modify {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#tfootadd {
  background-color: rgb(96, 215, 136);
}
#tfootconfirm {
  background-color: rgb(214, 182, 68)
}
#tfootadd_button {
  width: 100%;
  border: none;
  background-color: rgb(96, 215, 136);
  cursor: pointer;
}
#tfootthanhtoan {
  background-color: rgb(68, 126, 214)
}
.image-product {
  width: 50px;
}
.sale-product {
  color: red;
}




.imgChild {
  width: 60px;
}

/* ============== */
 /* css bài axios của duy */
 .wrapAxiosDuy {
   display: flex;
   flex-direction: column;
   padding: 20px 100px;
 }
 /* -------------------- */
 .myStyle {
   color: #fff;
   font-weight: bold;
   background-color: #EE4D2D !important;
   box-shadow: none !important;
 }