/* *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@font-face {
  font-family: myFont;
  src: url(https://www.myfonts.com/fonts/linotype/neue-helvetica/);
}
/* ipad mini */
@media screen and (max-width: 768px) {
}
/* iphone 12 pro */
@media screen and (min-width: 390px) {
}
